.project-button {
    background-color: #AEC7E3;
    width: 100%;
    aspect-ratio: 5 / 3;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.project-button:hover {
    background-color: #1C426D;
    cursor: pointer;
}