.project-button {
    background-color: #AEC7E3;
    width: 300px;
    height: 200px;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.project-button:hover {
    background-color: #1C426D;
    cursor: pointer;
}