.project-overview-container {
    width: min(80%, 1000px);
    margin: 0 auto;
    text-align: left;
}

.button-container {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    gap: 24px;
    justify-items: stretch;
    margin-bottom: 32px;
}

.project-overview-title {
    color: #1C426D;
    letter-spacing: 1px;
}

hr {
    background-color: #8EA9D2;
    width: 100%;
    height: 1px;
}

