.project-overview-container {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 90px;
    padding-right: 90px;
    text-align: left;
}

.button-container {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-overview-title {
    color: #1C426D;
    letter-spacing: 1px;
}

hr {
    border-top: 2px solid #8EA9D2;
    width: 100%;
    margin-left: 0px;
    margin-top: -7px;
}

