.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4%;
    max-width: 100%;
    position: relative;
}

.Home {
    font-family: 'Source Sans Pro';
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}