.card-section {
    width: min(80%, 1000px);
    margin: 25px auto;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
    width: 100%;
}

.Home {
    font-family: 'Source Sans Pro';
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* mission statement section */

.mission-statement-container {
    width: min(80%, 1000px);
    margin: 48px auto;
}

.mission-statement-title {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 0.025em;
    position: relative;
    margin: 32px 0;
    padding: 16px 0;
}

.mission-statement-text p + p {
    margin-top: 16px;
}

.title-underline {
    position: absolute;
    width: 20%;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #77B0F3;
}

.mission-statement {
    text-align: center;
}

.mission-img-container {
    width: 65%;
    margin: 48px auto;
    display: flex;
    gap: 24px;
}

.mission-img-placeholder-one {
    width: 80%;
    aspect-ratio: 5 / 3;
    margin: 0 auto;
    background: #DAE2E4;
    border-radius: 8px;
}

.mission-img-placeholder-two {
    width: 80%;
    aspect-ratio: 5 / 3;
    margin: 0 auto;
    background: #CBD6DC;
    border-radius: 8px;
}

@media (max-width:1023px){
    .mission-statement-container {
        width: 80%;
        margin: 48px auto;
    }

    .mission-statement-title {
        font-size: 1.5rem;
    }

    .mission-img-container {
        width: 80%;
    }
}

@media (max-width:767px) {
    .mission-img-container {
        width: 100%;
        flex-direction: column;
    }

    .title-underline {
        width: 40%;
    }
}
