*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.person-card {
    width: 85%;
    max-width: 850px;
    margin: 2em auto;
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.card__header__icons {
    display: flex;
    align-items: center;
}

.icon {
    color: rgba(0, 0, 0, 0.2);
}

.icon:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
}

.icon + .icon {
    margin-left: 8px;
}

.icon--spacer {
    font-weight: 100;
    color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.icon--contact {
    color: #2d3d4f;
    margin-right: 5px;
}

.card__contact {
    display: flex;
    align-items: center;
}

.card__title, 
.card__subtitle,
.card__text {
    font-family: var(--ff-primary);
}

.card__title {
    font-size: 18px;
    color: var(--fc-darkest);
}

.card__subtitle {
    font-size: 14px;
    font-weight: 100;
    text-align: left;
    color: var(--fc-dark);
}

.card__subtitle--involvement {
    margin-bottom: 8px;
}

.card__text {
    font-size: 15px;
    color: var(--fc-darker);
    text-align: left;
    margin-bottom: 15px;
}

.card__subtitle--email {
    color: #2d3d4f;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

#contact-container {
    display: flex;
    flex-direction: column;
}

.contact-info-row {
    display: flex;
    flex-direction: row;
}

#alumni-tag {
    border:1px solid #8ea9d2; 
    font-size: 14px;
    border-radius: 6px;
    color: #8ea9d2;
    margin-right: 15px;
    display: inline-block;
    padding: 2px 2px 2px 2px;
}