.nav {
	height: auto;
	margin-bottom: 35px;
}

.hamburger-menu {
	display: none;
}

.navbar-menu {
	display: block;
	height: auto;
}

[role=menu] {
	padding: 20px 35px 35px 35px !important;
	box-shadow: 0px 4px 70px 1px rgba(175, 175, 175, 0.25);
	border-radius: 9px;
}

[role=menuitem]:hover {
	background-color: transparent !important;
}

.all-projects-text {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 35px;
	letter-spacing: 0.04em;
	text-decoration: none;
	color: #1C426D;
	margin-bottom: 20%;
}

.all-projects-underline {
	border: 1.5px solid #1C426D;
	width: 115px;
	margin-top: 20%;
	position: absolute;
}

.project-name {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 0.04em;
	text-decoration: none;
	color: #848484;
	transition: font-size 0.5s;
}

.project-name:hover {
	color: #1C426D;
	font-weight: 700;
	font-size: 20px;
}

@media only screen and (max-width: 700px) {
	.hamburger-menu {
	  display: block;
	}

	.navbar-menu {
	  display: none;
	  height: 0% !important;
	}

	.nav {
		height: 100px;
	}
}

.nav-appbar {
	margin-bottom: 10px;
}

.nav-toolbar {
	box-sizing: border-box;
	display: flex;
	background-color: rgb(255, 255, 255);
	color: black;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 22.5px;
	text-transform: uppercase;
}

.nav-toolbar .nav-title {
	font-size: 20px;
}

.nav-link {
	text-decoration: none;
	color: black;
	padding: 0 2vw;
}

.nav-link.active {
	color: #4C6199;
}

.nav-rendered-links {
	margin-left: auto;
}

.login-icon {
	background-image: url('/src/statics/images/search-icon.svg');
	width: 50px;
	height: 50px;
	display: flex;
	position: relative;
}

