.footer-container {
    position: relative;
    width: 100%;
    padding: 0px;
    height: 30%;
}

.footer {
    background-color: #F2F2F2;
    padding: 40px 120px 2.5rem;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer a { 
    text-decoration: none;
    color: black;
}

.footer a:hover {
    text-decoration: underline;
}

.footer li {
    list-style: none;
}

.footer-main{
    display: flex;
    margin-bottom: 4rem;
}

.ubc-logo {
    padding-bottom: 40px;
    max-width: max(50%, 220px);
}

.footer-column {
    flex-basis: 200px;
    flex-grow: 1;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-image-container {
    display: flex;
    justify-content: start;
}

.footer-contact-item {
    display: block;
    padding: 5px 0;
    text-align: left;
}

.footer-right {
    margin-top: 16px;
    margin-right: 8px;
    display: flex;
    gap: 80px;
}

.footer-heading {
    margin-bottom: 20px;
    text-align: left;
}

.footer-project-list {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.horizontalLine {
    border: none;
    border-bottom: 1px solid gainsboro;
    width: 100%
}

.campus-text {
    text-align: left;
    margin-top: 10px;
}

@media only screen and (max-width: 767px){
    .footer{
        padding: 24px 16px 2.5rem;
    }

    .ubc-logo{
        padding-bottom: 8px;
    }
    .footer-main{
        flex-direction: column;
        margin-bottom: 32px;
    }
    .footer-column-lab-info{
        margin-left: 4%;
        margin-top: 0;
    }

    .campus-text{
        margin-top: 1%;
        text-align: left;
        margin-left: 0;
    }
    .footer-right{
        flex-direction: column;
        margin-left: 0;
        gap: 0;
    }

    .footer-link{
        padding: 3px 5px;
    }

    .footer-column-lab-info{
        margin-left: 0;
        padding-top: 0;
    }

    .footer-heading{
        margin-bottom: 0;
    }

}